PORT=8080
GIN_MODE=debug

CSH_OIDC_CLIENT_ID=
CSH_OIDC_CLIENT_SECRET=
CSH_ISSUER=

GOOGLE_OIDC_CLIENT_ID=
GOOGLE_OIDC_CLIENT_SECRET=
GOOGLE_ISSUER=

DATABASE_URL=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET=

UPLOAD_URL=
UPLOAD_API_KEY=

ALLOWED_EMAILS=